# frozen_string_literal: true

$LOAD_PATH.push File.expand_path('lib', __dir__)

require '%%LIB_PATH%%/version'

Gem::Specification.new do |s|
  s.name        = '%%NAME%%'
  s.version     = %%ROOT_MODULE%%::VERSION
  s.authors     = ['Put here the authors']
  s.summary     = 'Put here de description.'

  s.files = %%gemspec_files_value%%
  s.required_ruby_version = '%%require_ruby_version%%'%%gemspec_extra%%

%%COMMON_DEPENDENCIES%%

%%DEVELOPMENT_DEPENDENCIES%%
end
